html {
        height: 100%;
}

body {
        height: 100%;
        /* высота */
        background-color: #28292a;
        margin: 0;
        /* внешний отступ */
display: flex;
flex-direction: column;
}

.container {
        width: 100%;
        /* ширина */
        max-width: 1200px;
        /*margin: 0 auto;*/
        /* внешний отступ */
        padding: 0 0;
        /* внутренний отступ */

}

.header {
        height: 120px;
        /* высота шапки */
        /*width:100%;/* ширина шапки */
        background-color: #8c8c8c;
        border: 2px solid #fdfdfd;
}

.header-row {
        display: flex;
        flex-direction: row;
}

.header_logo {

        margin-top: -3px;
        margin-left: 30px;
        /* отступ от левого края */
        font-size: 30px;
        color: #ff9000;
        text-shadow: 1px 1px 1px #19191a,
                2px 2px 2px #0c0c0c;
}

.navigation {
        margin-left: 220px;
        /* внешний отступ */
        position: absolute;
}

.navigation li {
        height: auto;
        /* высота */
        width: 150px;
        /* ширина блока меню */
        float: left;
        text-align: center;
        list-style: none;
        font: 21px "Bonveno", "Century Gothic";
        padding: 0px;
        /* внутренний отступ */
        margin: 0px;
        /* внешний отступ */
        margin-top: 0px;
        /* внешний отступ сверху */
        background-color: #7b7b7b;
        border: 1px solid #fdfdfd;
        border-radius: 3px;
        margin-left: 5px;
        /* внешний отступ слева */
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .1);
        /* прозрачность */

}

.navigation a {
        padding: 12px 8px;
        /* внутренний отступ */
        text-decoration: none;
        color: #ff9000;
        text-shadow: 1px 1px 1px #19191a,
                1px 1px 1px #000;
        display: block;
}

.navigation li ul {
        display: none;
        height: auto;
        /* высота */
        margin-left: -6px;
        /* внешний отступ слева*/
        padding: 0;
        /* внутренний отступ */
        opacity: .9;
        /* прозрачность */
}

.navigation li:hover ul {
        display: block;
}

.navigation li:hover,
a:hover {
        background: #8c8c8c;
}

.navigation a:hover {
        color: #fdfdfd;
        text-shadow: 1px 1px 1px #181717,
                2px 2px 2px #181717;
        transform: 0.3s;
}

.features__item {
        display: flex;
        margin-left: 1050px;
        /* внешний отступ слева*/
}

.features__icon {
        margin-top: 50px;
        /* внешний отступ сверху*/
        margin-left: 30px;
        height: 60px;
        /* высота */
        width: 60px;
}

.features__icon_a {
        margin-top: 20px;
        /* внешний отступ сверху*/
        margin-left: 30px;
        height: 60px;
        /* высота */
        width: 60px;
}


/*-- Main --*/
.main {
        margin: 10px 10px;
        /* внешний отступ */
        max-width: auto;
}

/*-- Footer --*/
.footer {
        margin-top: auto;
        padding: 5px 0;
        background-color: #8c8c8c;
        border: 2px solid #fdfdfd;
}

.footer-inner {
        font: size 20px;
        text-align: center;
}

.footer p {

        text-align: center;
        color: #ff9000;
        font-weight: bold;
        font-family: sans-serif;
        text-shadow: 1px 1px 1px #19191a,
                2px 2px 2px #0a0a0a;
}

